@model IEnumerable<HotDogReview.WebUI.Models.Establishment>

@{
    ViewBag.Title = "Index";
}

<h2>Hot Dog Review</h2>

<div id="map-canvas" style="width: 340px; height: 380px;"></div>

<ul>
    @foreach(var item in Model)
    {
        <li>
            <h4>@item.Name</h4>
            <p>
                Nota @item.AverageRating (@item.Reviews.Count() avaliações)
            </p>
            <p>
                Endereço: @(item.Address ?? "<sem endereço>")
            </p>
            <p>
                @(item.Description ?? "<sem descrição>")
            </p>
        </li>
    }
</ul>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNMP3K0GDuGhuhhDkXriZcIaL2DLMYD1M&sensor=false"></script>

<script>

    var HomeIndex = function () {

        function createMap() {
            _map = new google.maps.Map(document.getElementById("map-canvas"), {
                center: new google.maps.LatLng(-25.4166667, -49.25),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP });
        }

        function createMarker(index, resultItem) {
            var position = (resultItem.Position + 1).toString();
            var coords = new google.maps.LatLng(resultItem.AddressLat, resultItem.AddressLng);
            var marker = new google.maps.Marker({
                position: coords,
                title: position + ' - ' + resultItem.ProfessionalName,
                icon: '/handlers/numberedmark.ashx?n=' + position });
            google.maps.event.addListener(marker, "mouseover", function() {
                $('.lista-grid').eq(index).css('background-color', '#F8F8F8');
            });
            google.maps.event.addListener(marker, "mouseout", function() {
                $('.lista-grid').eq(index).css('background-color', '');
            });
            return marker;
        }

        function init() {
            createMap();
        }

        function setMarkers() {
            
        }

        return {
            init: init
        };

    } ();

    HomeIndex.init();

</script>