@model HotDogReview.WebUI.ViewModels.NewEstablishmentViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Nova Barraquinha</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Barraquinha</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Establishment.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Establishment.Name)
            @Html.ValidationMessageFor(model => model.Establishment.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Establishment.IsVegan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Establishment.IsVegan)
            @Html.ValidationMessageFor(model => model.Establishment.IsVegan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Establishment.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Establishment.Description)
            @Html.ValidationMessageFor(model => model.Establishment.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Establishment.Address)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Establishment.Address, new { style = "width: 400px" })
            @Html.ValidationMessageFor(model => model.Establishment.Address)
        </div>
        <br />
        <br />
		<fieldset>
			<legend>Avaliação</legend>

			<div class="editor-label">
				@Html.LabelFor(model => model.Review.Rating)
			</div>
			<div class="editor-field">
				<div class="rating" data-score="5"></div>
				@Html.HiddenFor(model => Model.Review.Rating, new { id="hdnRating" })
			</div>

			<div class="editor-label">
				@Html.LabelFor(model => model.Review.ReviewText)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => Model.Review.ReviewText)
				@Html.ValidationMessageFor(model => model.Review.ReviewText)
			</div>
			
		</fieldset>

        <p>
            <input id="btnSave" type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("< Lista de Barraquinhas", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

	<script type="text/javascript">
		$('.rating').raty({
			path: '/img'
		});

		$('#btnSave').click(function () {
			var score = $('input[name=score]').val();
			$('#hdnRating').val(score);
		});
	</script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script>
        function createAddressAutocomplete() {
            var input = document.getElementById('Establishment_Address');
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addDomListener(input, 'keydown', function(e) { 
                if (e.keyCode == 13) {
                    if (e.preventDefault) {
                        e.preventDefault();
                    }
                    else {
                        // Handle early IE versions.
                        e.cancelBubble = true;
                        e.returnValue = false;
                    }
                }
            });
        }
        createAddressAutocomplete();
    </script>
}
