@model HotDogReview.WebUI.Models.Establishment

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Barraquinha</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Barraquinha</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsVegan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsVegan)
            @Html.ValidationMessageFor(model => model.IsVegan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

		@Html.HiddenFor(model => model.CreatedDateTime)

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Address, new { style = "width: 400px" })
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("< Lista de Barraquinhas", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script>
        function createAddressAutocomplete() {
            var input = document.getElementById('Address');
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addDomListener(input, 'keydown', function(e) { 
                if (e.keyCode == 13) {
                    if (e.preventDefault) {
                        e.preventDefault();
                    }
                    else {
                        // Handle early IE versions.
                        e.cancelBubble = true;
                        e.returnValue = false;
                    }
                }
            });
        }
        createAddressAutocomplete();
    </script>
}
